{% extends 'base/base.html' %} {% block start%}

<table class="table">
  <thead>
    <tr>
      <th scope="col">quantity</th>
      <th scope="col">product</th>
      <th scope="col">price</th>
      <th scope="col">remove</th>
    </tr>
  </thead>
  <tbody>
    {% for carts in cart_items %}
    <tr>
      <th scope="row">1</th>
      <td>{{carts.product}}</td>
      <td>{{carts.get_product_price}}</td>
      <td>
        href="{% url 'remove_cart' carts.uid %} "
        <h3>Remove</h3>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
